@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  font-family: "Roboto";
  color: #fffffe;
}

body {
  background-color: #004643;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 2px solid grey;
}

.navbar h1 {
  color: #fffffe;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  background-color: #f9bc60;
  border: 2px solid #001e1d;
  border-radius: 5px;
  color: #001e1d;
}

.navbar a:hover {
  color: #fffffe;
}

.content {
  max-width: 600px;
  margin: 40px auto;
}

.content button {
  background-color: #f9bc60;
  color: #001e1d;
  border-color: #001e1d;
  border-radius: 5px;
}

.longUrlEntry {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #abd1c6;
  border-radius: 5px;
  border: 2px solid #001e1d;
}

.longUrlEntry p {
  background-color: #fffffe;
  margin-inline: 100px;
  text-align: center;
  color: #001e1d;
  border-radius: 5px;
  border: 2px solid #001e1d;
}

.longUrlEntry form {
  background-color: #abd1c6;
  content: center;
  display: flex;
  padding: 20px;
}

.longUrlEntry form input {
  background-color: #fffffe;
  border-radius: 5px;
  border-color: #001e1d;
  content: center;
  padding: 5px;
  width: 100%;
  color: #001e1d;
}

.longUrlEntry form button {
  margin-left: 5px;
}

.viewAllEntries {
  padding: 20px;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.viewAllEntries .header {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 2px solid grey;
}

.viewAllEntries .header .allEntriesButton {
  margin-left: auto;
}

.entry-preview {
  padding: 10px 16px;
  margin: 10px 0;
  border: 2px solid #001e1d;
  border-radius: 5px;
  background-color: #abd1c6;
}

.shortUrlEntryValue {
  background-color: #fffffe;
  color: #001e1d;
  border-radius: 5px;
  border: 2px solid #001e1d;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.entryValue {
  background-color: #fffffe;
  color: #001e1d;
  border-radius: 5px;
  border: 2px solid #001e1d;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.entry-preview b {
  background-color: transparent;
  color: #001e1d;
  text-align: left;
  padding: 2px;
}

.entry-preview .entryValue {
  background-color: #fffffe;
  color: #001e1d;
  border-radius: 5px;
  border: 2px solid #001e1d;
}

.individualEntryButtons {
  background-color: transparent;
  padding-top: 5px;
}

.deleteEntryButton {
  margin-left: 5px;
  padding: 5px;
}

.updateEntryButton {
  padding-top: 5px;
  padding-bottom: 5px;
}

.update-url-form input {
  background-color: #fffffe;
  border-radius: 5px;
  border-color: #001e1d;
  content: center;
  padding: 5px;
  width: 100%;
  color: #001e1d;
}

.update-url-form button {
  background-color: #f9bc60;
  color: #001e1d;
  border-color: #001e1d;
  border-radius: 5px;
}

.update-url-form {
  background-color: #abd1c6;
  content: left;
  display: flex;
  padding: 20px;
}

.shortUrlDisplay {
  background-color: #abd1c6;
  display: flex;
}

.returnShortUrl button {
  content: center;
  margin-left: auto;
}

.longUrlEntry .shortUrlDisplay {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #abd1c6;
  display: flex;
}

.longUrlEntry .shortUrlDisplay p {
  background-color: #fffffe;
  border-radius: 5px;
  border-color: #001e1d;
  content: center;
  padding: 8px;
  height: 100%;
  width: 100%;
  color: #001e1d;
  margin: auto;
}

.copyToClipboardButton {
  margin-left: 5px;
}

.copyToClipboardEntryShortURL {
  margin-left: 5px;
  padding: 5px;
}